$ca-colors: (
	main: (
		black: #191919,
    white: #fff,
		error: #D9364F,
		alert: #A66300,
		primary: #861703,
		secondary: #5d0f02,
		notice: #D97E00,
    success: #7a1503,
    dark-primary: #5d0f02
	),
	grey:(
		card: #EBEEF0,
    dark: #5d0f02,
		medium: #5C6F82,
    lighten: #E6E9F2,
    light: #455A64,
    light-grey:#E5E5E5,
    extra-light: #BCC0CC,
    border: #7D8C9C,
    primary-grey:#5d0f020D
	),
  blue:(
    dark:#17324D,
		light:#5d0f02
  ),
	gradient: (
		black: rgba(25, 25, 25, 0.7),
    light-black: rgba(0, 0, 0, 0.1)
	)
);
