{{#>cmp-base/base title="Associazione Club La Bohème"}}
<main>
  <h1 class="visually-hidden" id="main-container">Associazione Club La Bohème</h1>
  <section id="head-section">
    <h2 class="visually-hidden">Contenuti in evidenza</h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="card mb-5">
            <div class="card-body pb-5 px-0">
              <div class="category-top">
                <svg class="icon icon-sm" aria-hidden="true">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-calendar"></use>
                </svg>
                <span class="title-xsmall-semi-bold fw-semibold">Novità</span>
                <span class="data fw-normal">27 giugno 2023</span>
              </div>
              <a href="#" class="text-decoration-none">
                <h3 class="card-title">Le donne di Puccini sentinelle di Lucca</h3>
              </a>
              <p class="mb-4 pt-3 lora">L'associazione Club La Bohème è l'ideatrice del progetto <strong>"le donne di Puccini sentinelle di Lucca"</strong> del quale ne ha anche curato l'organizzazione.
              Si aggiunge a questo progetto l'ultima saracinesca dedicata a Vania Vannucchi cittadina lucchese vittima di femminicidio nell'agosto 2016.</p>
              <p class="mb-4 pt-3 lora">Un nuovo volto si aggiunge alla street expo dedicata alle eroine Pucciniane. 
              E' Vania protetta e insieme nell'atto di spiccare il volo, trasformata lei stessa nell'Araba Fenice, simbolo di immortalità dello spirito, resurrezione e resilienza.
              Avete già conosciuto le altre nel percorso di via San Paolino?</p>
              {{> cmp-tag/cmp-tag label-tag="Puccini ON"}}
              <a class="read-more pb-3" href="#">
                <span class="text">Vai alla pagina</span>
                <svg class="icon">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 px-0 px-lg-3">
          <img src="../../images/vania.jpg" title="titolo immagine" alt="descrizione immagine"
            class="img-flex"/>
        </div>
      </div>
    </div>
  </section>
  <section id="calendario">
    <div class="section section-muted pb-90 pb-lg-50 px-lg-5 pt-0">
      <div class="container">
        <div class="row mb-2">
          <div
            class="card-wrapper px-0 card-overlapping card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3">
            <div
              class="card card-teaser card-teaser-image card-flex no-after rounded shadow-sm border border-light mb-0">
              <div class="card-image-wrapper with-read-more">
                <div class="card-body p-3 pb-5">
                  <div class="category-top">
                    <span class="title-xsmall-semi-bold fw-semibold">Notizia</span>
                  </div>
                  <h3 class="card-title text-paragraph-medium u-grey-light">Titolo</h3>
                  <p class="text-paragraph-card u-grey-light m-0">descrizione</p>
                </div>
                <div class="card-image card-image-rounded pb-5">
                  <img src="https://picsum.photos/150/200" alt="Immagine di esempio" />
                </div>
              </div>

              <a class="read-more ps-3" href="#">
                <span class="text">Vai alla pagina</span>
                <svg class="icon">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
                </svg>
              </a>
            </div>

            <div class="card card-teaser no-after rounded shadow-sm mb-0 border border-light">
              <div class="card-body pb-5">
                <div class="category-top">
                  <span class="title-xsmall-semi-bold fw-semibold">Notizia</span>
                </div>
                <h3 class="card-title text-paragraph-medium u-grey-light">Titolo</h3>
                <p class="text-paragraph-card u-grey-light m-0">descrizione</p>
              </div>
              <a class="read-more" href="#">
                <span class="text">Vai alla pagina</span>
                <svg class="icon ms-0">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
                </svg>
              </a>
            </div>

            <div class="card card-teaser no-after rounded shadow-sm mb-0 border border-light">
              <div class="card-body pb-5">
                <div class="category-top">
                  <span class="title-xsmall-semi-bold fw-semibold">Notizia</span>
                </div>
                <h3 class="card-title text-paragraph-medium u-grey-light">Titolo</h3>
                <p class="text-paragraph-card u-grey-light m-0">descrizione</p>
              </div>
              <a class="read-more" href="#">
                <span class="text">Vai alla pagina</span>
                <svg class="icon ms-0">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="row row-title pt-5 pt-lg-60 pb-3">
          <div class="col-12 d-lg-flex justify-content-between">
            <h2 class="text-secondary">Eventi</h2>
          </div>
        </div>
        <div class="row row-calendar">
          <div class="it-carousel-wrapper it-carousel-landscape-abstract-four-cols it-calendar-wrapper splide"
            data-bs-carousel-splide>
            <div class="it-header-block">
              <div class="it-header-block-title">
                <h3 class="mb-0 text-center home-carousel-title">Settembre 2023</h3>
              </div>
            </div>
            <div class="splide__track">
              <ul class="splide__list it-carousel-all">
                <li class="splide__slide">
                  <div class="it-single-slide-wrapper h-100">
                    <div class="card-wrapper h-100">
                      <div class="card card-bg">
                        <div class="card-body">
                          <h4 class="card-title pb-4 mb-10">25 <span>settembre</span></h4>
                          <p class="card-text px-2 pb-10 mb-10"><a href="#">Evento 1</a>
                          </p>
                          <p class="card-text px-2 pb-10 mb-10 d-flex">
                            <img src="https://picsum.photos/200" alt="random image" class="me-3 rounded">
                            <a href="#">Descrizione evento</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="it-single-slide-wrapper h-100">
                    <div class="card-wrapper h-100">
                      <div class="card card-bg">
                        <div class="card-body">
                          <h4 class="card-title pb-4 mb-10">27 <span>settembre</span></h4>
                          <p class="card-text px-2 pb-10 mb-10"><a href="#">Evento 2</a>
                          </p>
                          <p class="card-text px-2 pb-10 mb-10 d-flex">
                            <img src="https://picsum.photos/200" alt="random image" class="me-3 rounded">
                            <a href="#">Descrizione evento</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="it-single-slide-wrapper h-100">
                    <div class="card-wrapper h-100">
                      <div class="card card-bg">
                        <div class="card-body">
                          <h4 class="card-title pb-4 mb-10">29 <span>settembre</span></h4>
                          <p class="card-text px-2 pb-10 mb-10"><a href="#">Evento 3</a>
                          </p>
                          <p class="card-text px-2 pb-10 mb-10 d-flex">
                            <img src="https://picsum.photos/200" alt="random image" class="me-3 rounded">
                            <a href="#">Descrizione evento</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="it-single-slide-wrapper h-100">
                    <div class="card-wrapper h-100">
                      <div class="card card-bg">
                        <div class="card-body">
                          <h4 class="card-title pb-4 mb-10">30 <span>settembre</span></h4>
                          <p class="card-text px-2 pb-10 mb-10"><a href="#">Evento 4</a>
                          </p>
                          <p class="card-text px-2 pb-10 mb-10 d-flex">
                            <img src="https://picsum.photos/200" alt="random image" class="me-3 rounded">
                            <a href="#">Descrizione evento</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--section class="evidence-section">
    <div class="section py-5 pb-lg-80 px-lg-5 position-relative">
      <div class="container">
        <div class="row">
          <h2 class="text-white">Argomenti in evidenza</h2>
        </div>
        <div>
          <div class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3">
            <div class="card card-teaser no-after rounded shadow-sm border border-light">
              <div class="card-body pb-5">
                <h3 class="card-title text-secondary">Argomento 1</h3>
                <p class="card-text pb-3">Descrizione</p>
                <a href="#" class="card card-teaser card-bg-blue no-after rounded mt-0 p-3">
                  <div class="avatar size-lg me-3">
                    <img src="https://picsum.photos/200/200" alt="Immagine">
                  </div>
                  <div class="card-body">
                    <h4 class="card-title text-white mb-1">Titolo</h4>
                    <p class="card-text text-sans-serif text-white">Descrizione
                    </p>
                  </div>
                </a>
              </div>
              <a class="read-more pt-0" href="#">
                <span class="text">Leggi tutto</span>
                <svg class="icon ms-0">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
                </svg>
              </a>
            </div>
            <div class="card card-teaser no-after rounded shadow-sm border border-light">
              <div class="card-body pb-5">
                <h3 class="card-title text-secondary">Argomento 2</h3>
                <p class="card-text pb-3">Descrizione</p>
                <a href="#" class="card card-teaser card-bg-blue no-after rounded mt-0 p-3">
                  <div class="avatar size-lg me-3">
                    <img src="https://picsum.photos/200/200" alt="Immagine">
                  </div>
                  <div class="card-body">
                    <h4 class="card-title text-white mb-1">Titolo</h4>
                    <p class="card-text text-sans-serif text-white">Descrizione
                    </p>
                  </div>
                </a>
              </div>
              <a class="read-more pt-0" href="#">
                <span class="text">Leggi tutto</span>
                <svg class="icon ms-0">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
                </svg>
              </a>
            </div>
            <div class="card card-teaser no-after rounded shadow-sm border border-light">
              <div class="card-body pb-5">
                <h3 class="card-title text-secondary">Argomento 3</h3>
                <p class="card-text pb-3">Descrizione</p>
                <a href="#" class="card card-teaser card-bg-blue no-after rounded mt-0 p-3">
                  <div class="avatar size-lg me-3">
                    <img src="https://picsum.photos/200/200" alt="Immagine">
                  </div>
                  <div class="card-body">
                    <h4 class="card-title text-white mb-1">Titolo</h4>
                    <p class="card-text text-sans-serif text-white">Descrizione
                    </p>
                  </div>
                </a>
              </div>
              <a class="read-more pt-0" href="#">
                <span class="text">Leggi tutto</span>
                <svg class="icon ms-0">
                  <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="row pt-30">
          <div class="col-lg-10 col-xl-6 offset-lg-1 offset-xl-2">
            <div class="row d-lg-inline-flex">
              <div class="col-lg-3">
                <h3 class="text-uppercase mb-3 title-xsmall-bold text u-grey-light">Altri argomenti</h3>
              </div>
              <div class="col-lg-9">
                <ul class="d-flex flex-wrap gap-1">
                  <li>
                    {{> cmp-tag/cmp-tag label-tag="Puccini ON"}}
                  </li>
                  <li>
                    {{> cmp-tag/cmp-tag label-tag="Argomento 4"}}
                  </li>
                  <li>
                    {{> cmp-tag/cmp-tag label-tag="Argomento 5"}}
                  </li>
                  <li>
                    {{> cmp-tag/cmp-tag label-tag="Argomento 6"}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2 text-center">
            <a href="#" class="btn btn-primary mt-40">Mostra tutti</a>
          </div>
        </div>
      </div>
    </div>
  </section-->
  <section class="useful-links-section">
    <div class="section section-muted p-0 py-5">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-6">

            {{> cmp-input-search/input-search
            id="autocomplete-three"
            label-text="Cerca una parola chiave"
            placeholder-text="Cerca una parola chiave"
            wrapper-class="mb-2 mb-lg-4"
            icon-class="icon-primary"
            btnSearch=true
            }}

            <div class="link-list-wrapper">
              <div class="link-list-heading text-uppercase mb-3 ps-0">Link utili</div>
              <ul class="link-list">
                <li>
                  <a class="list-item active ps-0" href="#"><span class="text-button-normal">Home</span></a>
                </li>
                <li>
                  <a class="list-item mb-3 active ps-0" href="#"><span class="text-button-normal">Chi siamo</span></a>
                </li>
                <li>
                  <a class="list-item mb-3 active ps-0" href="#"><span class="text-button-normal">Eventi</span></a>
                </li>
                <li>
                  <a class="list-item mb-3 active ps-0" href="#"><span class="text-button-normal">Rassegna stampa</span></a>
                </li>
                <li>
                  <a class="list-item mb-3 active ps-0" href="#"><span class="text-button-normal">Media</span></a>
                </li>
                <li>
                  <a class="list-item mb-3 active ps-0" href="#"><span class="text-button-normal">Contatti</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-primary">
    <div class="container">
      <div class="row d-flex justify-content-center bg-primary">
        <div class="col-12 col-lg-6">
          {{>cmp-rating/cmp-rating id-title="rating" public-template=true}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row d-flex justify-content-center p-contacts">
        <div class="col-12 col-lg-6">
          {{>cmp-contacts/cmp-contacts city-problems=true}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/cmp-base/base }}